{% raw %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    </head>

    <body>
        <div id="main">
            <header>
                <nav class="nav">
                    <a href="#" class="nav-left"><img src="/images/logo.svg" /></a>
                    <a href="#" class="nav-left">ioPlayground</a>

                    <a href="#" class="nav-right">Abmelden</a>
                    <span class="nav-right">Hi ...</span>
                    <a href="#" class="nav-right">Anmelden</a>

                </nav>
            </header>

            <section id="content">
                <h3>Devices</h3>
                <ul>
                    <li v-for="device_item in device_list">
                        {{ "["+device_item.id+"] " + device_item.name }}
                    </li>
                </ul>

                <hr>

                <h3>TODO</h3>
                <ul>
                    <li v-for="todo_item in todo_list">
                        {{ todo_item.text }}
                        <ul v-if="todo_item.items">
                            <li v-for="todo_subitem in todo_item.items">
                                <strike v-if="todo_subitem.done === true">
                                    {{ todo_subitem.text }}
                                </strike>
                                <span v-else>
                                    {{ todo_subitem.text }}
                                </span>
                        </ul>
                    </li>
                </ul>
            </section>

            <footer id="footer">
            {{ footer_text }}
            </footer>
        </div>

        <script src="/js/vue.js"></script>
        <script src="/js/app.js"></script>

    </body>
</html>
{% endraw %}
