{% extends "base.tmpl.html" %}


{% block heading %}
    <h1>Index</h1>
{% endblock %}


{% macro render_properties(parent) -%}

    {%- if len(parent.properties) > 0 -%}
    <ul>
        {% for prop_name, prop_instance in parent.properties.items() %}
            {% set readonly  = prop_instance.readonly %}
            {% set value     = prop_instance.value %}
            {% set type      = prop_instance.type %}
            {% set is_object = prop_instance.is_object %}
        <li>
            <strong>{{ prop_name }}:</strong>
            {% if is_object %}
                {{ render_properties(prop_instance) }}
            {%- else %}
            {{ value }}{% if readonly %} <sup>ro</sup>{% endif %}
            {%- endif %}
        </li>
        {% endfor %}
    </ul>
    {%- endif %}

{%- endmacro %}


{% block content %}

    <h3>Devices</h3>
    <ul>
    {% for device in devices %}
        {% set name        = device.name %}
        {% set description = device.description %}
        <li>
            {{ device }}
            <ul>
                <li><strong>Name:</strong> {{ name }}</li>
                <li><strong>Description:</strong> {{ description }}</li>
                <li><strong>Properties</strong>
                    {{ render_properties(device) }}
                </li>
            </ul>
        </li>
    {% endfor %}
    </ul>

    <hr>

    <h3>TODO</h3>
    <ul>
        <li>Adaptors with one/multiple Device(s)
            <ul>
                <li>Yahoo Weather</li>
                <li>Fritzbox</li>
                <li>KNX</li>
                <li>serial port</li>
                <li>amazon echo</li>
                <li>ikea tadfri</li>
                <li>THZ404</li>
            </ul>
        </li>
        <li>Logic Editor</li>
        <li>Visu / Dashboard ?</li>
        <li>Archive</li>
        <li>HTTPS</li>
        <li>link multiple hubs</li>
        <li>user management</li>
    </ul>
{% endblock %}
