{% extends "base.tmpl.html" %}

{% block heading %}
    <h1>Index</h1>
{% endblock %}

{% block content %}

    <h3>Devices</h3>
    <ul>
    {% for device in devices %}
        <li>{{ device }}</li>
    {% endfor %}
    </ul>

    <hr>

    <h3>TODO</h3>
    <ul>
        <li>Adaptors with one/multiple Device(s)
            <ul>
                <li>Yahoo Weather</li>
                <li>Fritzbox</li>
                <li>KNX</li>
                <li>serial port</li>
                <li>amazon echo</li>
                <li>ikea tadfri</li>
                <li>THZ404</li>
            </ul>
        </li>
        <li>Logic Editor</li>
        <li>Visu / Dashboard ?</li>
        <li>Archive</li>
        <li>HTTPS</li>
        <li>link multiple hubs</li>
        <li>user management</li>
    </ul>
{% endblock %}
