{% extends "base.tmpl.html" %}

{% block content %}
    <h1>Index</h1>
    TODO:
    <ul>
        <li>database for runtime config</li>
        <li>Adaptors with one/multiple Device(s)
            <ul>
                <li>KNX</li>
                <li>serial port</li>
                <li>amazon echo</li>
                <li>ikea tadfri</li>
                <li>THZ404</li>
            </ul>
        </li>
        <li>Logic Editor</li>
        <li>Visu / Dashboard ?</li>
        <li>Archive</li>
        <li>HTTPS</li>
    </ul>
{% endblock %}
