{% extends "base.tmpl.html" %}

{% block content %}
<div class="panel">
    <h2>Login Form</h2>

    <form action="{{ route('user.login') }}" method="POST">
        <div class="imgcontainer">
            <img src="images/avatar.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>
        </div>
    </form>
</div>
{% endblock %}
